 @model MVC_Stok.Models.Entity.URUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">

    <div>
        <label>ÜRÜN ADI</label>
        <input type="text" class="form-control" name="URUNAD" required=""/>
    </div>
    <div style="margin-top:10px">
        <label>MARKA</label>
        <input type="text" class="form-control" name="URUNMARKA" required="" maxlength="30" />
    </div>
    <div style="margin-top:10px">
        <label>ÜRÜN KATEGORİ</label>
        @Html.DropDownListFor(m=>m.KATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class = "form-control"})
    </div>
    <div style="margin-top:10px">
        <label>ÜRÜN FİYAT</label>
        <input type="text" class="form-control" name="URUNFIYAT" />
    </div>
    <div style="margin-top:10px">
        <label>STOK</label>
        <input type="text" class="form-control" name="URUNSTOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ÜRÜN EKLE</button>
    </div>
</form>

